/*mobile/tablets css*/

@media only screen and (max-width: 1270px) {
  .all {
    flex-basis: 95%;  
    max-width: 95%;     
  }
}

@media only screen and (max-width: 980px) {
  header {
    position: fixed;
    left: 0;
    right: 0;
    padding: 2rem 1.6rem 2.2rem;
    background: rgb(200,200,200);
    border-bottom: 1px solid #787878;
  }
  .mobile-menu-trigger {
    display: block;
    right: 1.6rem;
  }
  .mobile-menu-trigger.active {
    color: #fff;
  }
  nav {
    opacity: 0;
    float: none;
    left: 0;
    position: absolute;
    margin: 1rem 0 0 0;
    padding: 1rem 0;
    top: 6rem;
    background: #ddd;
    right: 0;
    transition: all 1s ease-in-out
  }
  nav a {
    padding: 5px 0 5px 1.8rem;
    display: block;
  }
  .main-content {
    padding: 11rem 0 0;
  }
  .item {
    width: 32%;   
  }
}

@media only screen and (max-width: 830px) {
  .item {
    width: 49%;   
  }
}

@media only screen and (max-width: 640px) {
  .filter-block {
    flex-direction: column;
  }
  .filter-label {
    font-size: 2rem;
  }
  .filter-item {
    margin: 0 0 1rem;
  }
  .item {
    width: 100%;   
  }
}