/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/*general css*/
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  color: #000;
	text-decoration: none;  
}
a img {
    border: none;
}
a:hover {
  text-decoration: underline;    
}
input {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  font-size: 0.625rem;   
}
body {
	position: relative;
  display: flex;
  justify-content: center;
	color: #000;
  font-size: 1.6rem;		
	font-family: Arial, helvetica, sans-serif;
  background: rgb(200,200,200);
  box-sizing: border-box;
}
.clear {
  clear: both;
}

.badge {
  display: inline-block;
  color: #fff;
  font-size: 1.3rem;
  padding: 4px 13px;
  border-radius: 117px;
}
.badge.red {
  background: #e83900;
}
.badge.green {
  background: #27912c;
}
.badge.yellow {
  background: #f39300;
}

/*main html css*/
.all {
  flex: 1;
  flex-basis: 1270px;  
  max-width: 1270px;
  min-height: 100vh;
}

header {
  position: relative;
  padding: 4rem 0 4.2rem;
}
header .brand {
  font-size: 2.8rem;
}
nav {
  float: right;
  margin: 1rem 0 0 0;
}
nav.visible {
  opacity: 1;
}
nav a {
  padding: 0 0 0 1.8rem;
}
nav a.active {
  text-decoration: underline;
}
.mobile-menu-trigger {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  font-size: 2.4rem;
  top: 50%;
  transform: translate(0, -50%);
}

.filter-block {
  display: flex;
  justify-content: flex-start;
  padding: 0 0 2.3rem 1.7rem;
}
.filter-label {
  font-size: 1.4rem;  
  align-self: center;
}
.filter-item {
  margin: 0 0 0 1.7rem;
}
.filter-item input {
  display: inline-block;
  vertical-align:  middle;
  margin: 0 5px 0 0;
}
.item-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.item {
  width: 24%;
  margin: 0 0 2rem;
}

.item figure {
  display: block;
  width: 100%;
  height: 17.8rem;
  background: #787878;
}
.item .item-content {
  background: #fff;
  padding: 3rem 2rem ;
}
.item .item-content h2 {
  font-size: 2rem;
  margin: 0 0 2rem;
}
.item .item-content h2 .badge {
  float: right;
}
.item .item-content article {
  display: block;
  overflow: hidden;
  height: 12.2rem;
  padding: 0 0 2rem;
  line-height: 2.3rem;
}
.item .item-content .more-info {
    display: flex;
}
.item .item-content .more-info:hover {
  text-decoration: none;
}
.item .item-content .fa-angle-right {
  font-size: 2.6rem;
  align-self: center;
}
.item .item-content .fa-angle-right.red {
  color: #e83900;
}
.item .item-content .fa-angle-right.green {
  color: #27912c;
}
.item .item-content .fa-angle-right.yellow {
  color: #f39300;
}
.item .item-content .more-info span {
   align-self: center; 
   padding: 3px 0 0 5px;
}
.item .item-content .more-info:hover span {
  text-decoration: underline;
}